.Portfil{
    margin: auto;
    width: auto;
    max-width: 871.11px;
    min-width: 414.16px;;
}
.port{
    width: 68%;
    margin: auto;   
    .acard{
        margin:0px 10px;
       max-width: 400px;
        float: left;
        height: 480px;
    }
}