.tfv{
    padding-top:20px;
    padding-bottom: 100px;
}
.cont{
    color: brown;
    font-weight: bolder;
}
.fa-envelope:before , .fa-linkedin:before , .fa-angellist:before {
    font-size: 20px;
    padding-right:10px; 
}
