.Nav{
  width: 100%;
  height: 120px;
  background: aliceblue;
  .nav{
    display: flex;
  .Nav-1{
    width: 70%;
    font-size: 3vw;
    font-weight: 300;
    height: 58px;
    .fa-bars{
      padding: 6px;
    color: forestgreen;
    cursor: pointer;
    }
    .fa-bars:hover,.fa-bars:focus{
      color: red;
    }
  }
  .Nav-2{
    width: 30%;
    height: 58px;
    .icon{
      font-size: 4vw;
      margin: 0px 15px;
      }
    }
  }
  .link{
    display: flex;
    li{
          display: unset;
          font-size: 2vw; 
          margin:1vw;
          padding:0 2vw;
    }
    a:-webkit-any-link {
      text-decoration: none;
    }
  }
  li:hover, li:focus{
    color: aquamarine;
  }
}
.model{
  position: relative;
}
.Img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.modal-content{
   height: 622px;
}