.Nav{
  width: 100%;
  height: 120px;
  background: aliceblue;
  .nav{
    display: flex;
  .Nav-1{
    width: 70%;
    font-size: 3vw;
    font-weight: 300;
    height: 58px;
  }
  .Nav-2{
    width: 30%;
    height: 58px;
    .icon{
      font-size: 4vw;
      margin: 0px 15px;
      }
    }
  }
  .link{
    display: flex;
    li{
          display: unset;
          margin: 12px;
    padding: 5px;
    }
    a:-webkit-any-link {
      text-decoration: none;
    }
  }
}
